html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.8rem; 
}

main {
  height: 100%;
  background-color: rgb(222,240,252);
  display: -webkit-box;   
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;    
  display: flex; 
  justify-content: center; 
  align-items: center; 
}


article {
  width: 400px;
  min-height: 200px;
  margin: 5px;  
  background-color: rgb(255, 255, 255); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.user-list {
  list-style-type: none; 
  margin: 0; 
  padding: 10px; 
}

.user-list-name {
  padding: 10px 5px; 
}

.user-list-name:hover {
  background-color: rgb(204,204,204); 
}
